.refresh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refresh button{
    width:120px;
    height: 40px;
    font-size: 1.9rem;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: none;
    background-color: rgb(37, 89, 231);
    color: #fff;
    box-shadow: 13px 13px 20px #cbced1, 
    -13px -13px 20px #fff;
    margin-top: 50px;
}
.refresh button:hover{
    background-color: rgb(56, 103, 231);
}