@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

:root{
    --primary:rgb(211, 151, 62);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    
}

body{
 
    width: 100vw;
    height: 100vh;
   
}

.section{
    height: 100%;
    width:100vw;
   
    display: flex;
    flex-direction: column;
   scroll-behavior: smooth;
    align-items: center;
}

.coinslist{
    
    height:100%;
    width:50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 1000px){
    .coinslist{
        width: 100%;
    }
   .nametag h4{
       font-size: 1.2rem ;
   }
    
}

.header{
    display: grid;
    place-items: center;
    height:150px;
    width:100%;
     text-align: center;
     background-color: var(--primary);
     color: #fff;
 }
 .nametag{
    display:flex;
    align-items: center;
    justify-content: space-around;
   color: var(--primary);
    width: 100%;
   padding-left: -70px;
  height: 50px;
 }
 .search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 40px;
    border-radius: 5px;
    
    
 }
.search input{
    width:100%;
    height: 70%;
    border: none;
    border-radius: 5px;
    margin-left:10%;
    margin-right: 10%;
   font-size: 1.5rem;
    outline: none;
}
.search input::placeholder{
    text-align: center;
    font-size: 1.5rem;
   
}

 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:100%;
    margin-right: 15px;
    color: var(--primary);
   
 }

 .nametag h4{
     font-size: 1.5rem;
     

 }
 